<%

keyspaces_tables = request.post_params['keyspaces_tables']
spark_sql_query = request.post_params['spark_sql_query']
cassandra_node_ip = request.post_params['cassandra_node_ip']

spark_submit_script = "cd /usr/local/spark-2.0.1-bin-hadoop2.7/bin && ./spark-submit"
spark_cassandra_connector = "com.datastax.spark:spark-cassandra-connector_2.11:2.0.0-M3"
spark_submit_invocation = "#{spark_submit_script} --packages #{spark_cassandra_connector}"

executor_script = "/usr/local/spark_sql_query_executor.py"
executor_with_args = "#{executor_script} \"#{cassandra_node_ip}\" \"#{keyspaces_tables}\" \"#{spark_sql_query}\""

output = `#{spark_submit_invocation} #{executor_with_args}`

JS_ESCAPE_MAP = {
  '\\'    => '\\\\',
  '</'    => '<\/',
  "\r\n"  => '\n',
  "\n"    => '\n',
  "\r"    => '\n',
  '"'     => '\\"',
  "'"     => "\\'"
}
JS_ESCAPE_MAP["\342\200\250".force_encoding(Encoding::UTF_8).encode!] = '&#x2028;'
JS_ESCAPE_MAP["\342\200\251".force_encoding(Encoding::UTF_8).encode!] = '&#x2029;'
sanitized_output = output.gsub(/(\\|<\/|\r\n|\3342\2200\2250|\3342\2200\2251|[\n\r"'])/){|match| JS_ESCAPE_MAP[match] }
%>
<%= "{ \"output\": \"#{sanitized_output}\" }" %>