<%
cql_query = request.post_params['cql_query']
cassandra_node_ip = request.post_params['cassandra_node_ip']

require 'cassandra'

cluster = Cassandra.cluster(hosts: [cassandra_node_ip])

cluster.each_host do |host| # automatically discovers all peers
  puts "Host #{host.ip}: id=#{host.id} datacenter=#{host.datacenter} rack=#{host.rack}"
end

session  = cluster.connect

future = session.execute_async(cql_query)
future.on_success do |rows|
%>
<%= JSON.generate(rows) %>
<%
end
future.join
session.close
cluster.close
%>