<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .fixed-panel-body {
        min-height: 200px;
        max-height: 200px;
        overflow-y: scroll;
      }
    </style>
    <title>Aggregate data charts</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font-Awesome -->
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Aggregate data charts</h1>

          <form>
            <div class="form-group">
              <button id="load-most-critical-routes" type="submit" class="btn btn-default" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading">Most critical routes</button>
              <button id="load-most-critical-stops" type="submit" class="btn btn-default" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading">Most critical stops</button>
              <button id="load-most-critical-hours" type="submit" class="btn btn-default" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading">Most critical hours</button>
            </div>
          </form>

          <div id="most-critical-routes" class="hidden">
            <h2>Most critical routes</h2>
            <canvas id="most-critical-routes-chart" width="400" height="300"></canvas>
          </div>

          <div id="most-critical-stops" class="hidden">
            <h2>Most critical stops</h2>
            <canvas id="most-critical-stops-chart" width="400" height="300"></canvas>
          </div>

          <div id="most-critical-hours" class="hidden">
            <h2>Most critical hours</h2>
            <canvas id="most-critical-hours-chart" width="400" height="300"></canvas>
          </div>
        </div>
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>

    <script type="text/javascript">

      var getRandomInt = function(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      };
      
      var getRandomColor = function(alpha = 1) {
        return "rgba("+getRandomInt(0, 255)+", "+getRandomInt(0, 255)+", "+getRandomInt(0, 255)+", "+alpha+")"
      };

      var changeColorAlpha = function(color, alpha) {
        return color.replace(/\d+\)/g, alpha+")");
      };

      var drawMostCriticalRoutesChart = function(mostCriticalRoutes) {
        $('#most-critical-routes').removeClass('hidden');
        for (var colors = []; colors.length < mostCriticalRoutes.length; ) colors[colors.length] = getRandomColor();
        var myChart = new Chart($("#most-critical-routes-chart"), {
          type: 'bar',
          data: {
            labels: mostCriticalRoutes.map(function(it) { return "Route "+it.route; }),
            datasets: [{
              label: 'Average delay (minutes)',
              data: mostCriticalRoutes.map(function(it) { return it.avgDelayMins; }),
              backgroundColor: colors.map(function(it) { return changeColorAlpha(it, 0.2); }),
              borderColor: colors,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero:true
                }
              }]
            }
          }
        });
      };

      var drawMostCriticalStopsChart = function(mostCriticalStops) {
        $('#most-critical-stops').removeClass('hidden');
        for (var colors = []; colors.length < mostCriticalStops.length; ) colors[colors.length] = getRandomColor();
        var myChart = new Chart($("#most-critical-stops-chart"), {
          type: 'bar',
          data: {
            labels: mostCriticalStops.map(function(it) { return "Stop "+it.stop; }),
            datasets: [{
              label: 'Average delay (minutes)',
              data: mostCriticalStops.map(function(it) { return it.avgDelayMins; }),
              backgroundColor: colors.map(function(it) { return changeColorAlpha(it, 0.2); }),
              borderColor: colors,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero:true
                }
              }]
            }
          }
        });
      };

      var drawMostCriticalHoursChart = function(mostCriticalHours) {
        $('#most-critical-hours').removeClass('hidden');
        for (var colors = []; colors.length < mostCriticalHours.length; ) colors[colors.length] = getRandomColor();
        var myChart = new Chart($("#most-critical-hours-chart"), {
          type: 'bar',
          data: {
            labels: mostCriticalHours.map(function(it) { return it.hour+":00"; }),
            datasets: [{
              label: 'Average delay (minutes)',
              data: mostCriticalHours.map(function(it) { return it.avgDelayMins; }),
              backgroundColor: colors.map(function(it) { return changeColorAlpha(it, 0.2); }),
              borderColor: colors,
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero:true
                }
              }]
            }
          }
        });
      };

      var getFormFieldValue = function(field, removeBlanks) {
        var fieldValue = $(field).val();
        return removeBlanks ? fieldValue.replace(/\s+/g, "") : fieldValue;
      };

      var hideAllCharts = function() {
        $('#most-critical-routes').addClass('hidden');
        $('#most-critical-stops').addClass('hidden');
        $('#most-critical-hours').addClass('hidden');
      };

      var sparkRequest = function(sparkMasterIp, sparkSqlKeyspacesTables, sparkSqlQuery, cassandraNodeIp, handleResponse) {
        $.ajax({
          url : "spark_sql_query.json",
          type: "POST",
          data : { spark_master_ip: sparkMasterIp, keyspaces_tables: sparkSqlKeyspacesTables, spark_sql_query: sparkSqlQuery, cassandra_node_ip: cassandraNodeIp },
          success: function(data) { handleResponse(JSON.parse(data)); },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
            console.log(jqXHR.responseText);
          }
        });
      };

      $('#load-most-critical-routes').on('click', function(e) {
        e.preventDefault();

        var $executeBtn = $(this);
        $executeBtn.button('loading');

        hideAllCharts();

        var cassandraNodeIp = '<%= @cassandra_node_ip %>';
        var sparkMasterIp = '<%= @spark_master_ip %>';

        if (!cassandraNodeIp || !sparkMasterIp) {
          $executeBtn.button('reset');
          alert("Cassandra node IP and Spark master IP fields required for this operation");
          return;
        }

        var sparkSqlKeyspacesTables = "aggregate_data.vehicle_last_stops";
        var sparkSqlQuery = "SELECT route_id, ROUND(AVG(timestamp - expected_timestamp)/60000, 1) as delay_avg_mins FROM aggregate_datavehicle_last_stops GROUP BY route_id ORDER BY delay_avg_mins DESC LIMIT 6";

        sparkRequest(sparkMasterIp, sparkSqlKeyspacesTables, sparkSqlQuery, cassandraNodeIp, function(data) {
          var mostCriticalRoutes = [];
          var regex = /\|\s*([\d\.]+)\|\s*([\d\.]+)\|/g;
          match = regex.exec(data.output);
          while (match != null) {
            mostCriticalRoutes.push({ route: match[1], avgDelayMins: match[2] });
            match = regex.exec(data.output);
          }
          drawMostCriticalRoutesChart(mostCriticalRoutes);
          $executeBtn.button('reset');
        });

      });

      $('#load-most-critical-stops').on('click', function(e) {
        e.preventDefault();

        var $executeBtn = $(this);
        $executeBtn.button('loading');

        hideAllCharts();

        var cassandraNodeIp = '<%= @cassandra_node_ip %>';
        var sparkMasterIp = '<%= @spark_master_ip %>';

        if (!cassandraNodeIp || !sparkMasterIp) {
          $executeBtn.button('reset');
          alert("Cassandra node IP and Spark master IP fields required for this operation");
          return;
        }

        var sparkSqlKeyspacesTables = "aggregate_data.vehicle_last_stops";
        var sparkSqlQuery = "SELECT stop_id, ROUND(AVG(timestamp - expected_timestamp)/60000, 1) as delay_avg_mins FROM aggregate_datavehicle_last_stops GROUP BY stop_id ORDER BY delay_avg_mins DESC LIMIT 6";

        sparkRequest(sparkMasterIp, sparkSqlKeyspacesTables, sparkSqlQuery, cassandraNodeIp, function(data) {
          var mostCriticalStops = [];
          var regex = /\|\s*([\d\.]+)\|\s*([\d\.]+)\|/g;
          match = regex.exec(data.output);
          while (match != null) {
            mostCriticalStops.push({ stop: match[1], avgDelayMins: match[2] });
            match = regex.exec(data.output);
          }
          drawMostCriticalStopsChart(mostCriticalStops);
          $executeBtn.button('reset');
        });

      });

      $('#load-most-critical-hours').on('click', function(e) {
        e.preventDefault();

        var $executeBtn = $(this);
        $executeBtn.button('loading');

        hideAllCharts();

        var cassandraNodeIp = '<%= @cassandra_node_ip %>';
        var sparkMasterIp = '<%= @spark_master_ip %>';

        if (!cassandraNodeIp || !sparkMasterIp) {
          $executeBtn.button('reset');
          alert("Cassandra node IP and Spark master IP fields required for this operation");
          return;
        }

        var sparkSqlKeyspacesTables = "aggregate_data.vehicle_last_stops";
        var sparkSqlQuery = "SELECT HOUR(FROM_UNIXTIME(expected_timestamp/1000)) as hour, ROUND(AVG(timestamp - expected_timestamp)/60000, 1) as delay_avg_mins FROM aggregate_datavehicle_last_stops GROUP BY HOUR(FROM_UNIXTIME(expected_timestamp/1000)) ORDER BY delay_avg_mins DESC LIMIT 6";

        sparkRequest(sparkMasterIp, sparkSqlKeyspacesTables, sparkSqlQuery, cassandraNodeIp, function(data) {
          var mostCriticalHours = [];
          var regex = /\|\s*([\d\.]+)\|\s*([\d\.]+)\|/g;
          match = regex.exec(data.output);
          while (match != null) {
            mostCriticalHours.push({ hour: match[1], avgDelayMins: match[2] });
            match = regex.exec(data.output);
          }
          drawMostCriticalHoursChart(mostCriticalHours);
          $executeBtn.button('reset');
        });

      });
    </script>
  </body>
</html>