<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aggregate data visualization tools</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font-Awesome -->
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Aggregate data visualization tools</h1>
          <ul>
            <li><a href="/charts?cassandra_node_ip=<%= @cassandra_node_ip %>&spark_master_ip=<%= @spark_master_ip %>">Charts</a></li>
            <li><a href="/realtime_map?cassandra_node_ip=<%= @cassandra_node_ip %>">Realtime delays map</a></li>
            <li><a href="/user_query?cassandra_node_ip=<%= @cassandra_node_ip %>&spark_master_ip=<%= @spark_master_ip %>">Advanced user query</a></li>
          </ul>
        </div>
      </div>
    </div>

  </body>
</html>