<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .fixed-panel-body {
        min-height: 200px;
        max-height: 200px;
        overflow-y: scroll;
      }
      #map { height: 500px; }
    </style>
    <title>Bus delays map</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font-Awesome -->
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'>
    <!-- LeafletJs -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Bus delays map</h1>
          <div id="map"></div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

    <script type="text/javascript">

      var map = L.map('map').setView([44.493943, 11.344265], 13);
      var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', { attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attributions">CARTO</a>' });
      map.addLayer(layer);
      var circles = [];

      window.onload = function() {
        (function(){
          var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname + '?cassandra_node_ip='+location.search.split('cassandra_node_ip=')[1]);
          ws.onopen    = function()  { console.log('websocket opened'); };
          ws.onclose   = function()  { console.log('websocket closed'); };
          ws.onmessage = function(m) {
            var data = JSON.parse(m.data);
            if(!circles[data.trip_id]) {
              circles[data.trip_id] = L.circle([data.lat, data.lon], {
                  color: data.color,
                  fillColor: data.color,
                  fillOpacity: 0.3,
                  radius: data.radius,
                  weight: 0
              }).addTo(map);
            }
            else {
              circles[data.trip_id].setLatLng([data.lat, data.lon]);
              circles[data.trip_id].setStyle({ radius: data.radius, color: data.color, fillColor: data.color });
            }
          };
      })();
    };
    </script>

  </body>
</html>