<%
cql_query = params['cql_query']
cassandra_node_ip = params['cassandra_node_ip']

require 'cassandra'
puts cql_query
puts cassandra_node_ip

cluster = Cassandra.cluster(hosts: [cassandra_node_ip])

cluster.each_host do |host| # automatically discovers all peers
  puts "Host #{host.ip}: id=#{host.id} datacenter=#{host.datacenter} rack=#{host.rack}"
end

session  = cluster.connect

tmp = ""
more = false
session.execute(cql_query).each do |rows|

  if(more)
    tmp += "\n#{JSON.generate(rows)}"
  else
    tmp += JSON.generate(rows)
  end
  more = true
end

if(more)
  tmp = "[#{tmp.split("\n").join(", ")}]"
end
puts tmp
%>
<%= tmp %>
<%
session.close
cluster.close
%>