<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .fixed-panel-body {
        min-height: 200px;
        max-height: 200px;
        overflow-y: scroll;
      }
    </style>
    <title>Advanced user query</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font-Awesome -->
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Advanced user query</h1>

          <h2>Navigate through Cassandra DB architecture</h2>
          <form>
            <div class="form-group">
              <button id="show-keyspaces" type="submit" class="btn btn-default" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Executing Query">Show keyspaces</button>
            </div>
            <div id="show-select-keyspace-div" class="form-group hidden">
              <label for="show-select-keyspace">Select keyspace</label>
              <select class="form-control" id="show-select-keyspace">
              </select>
            </div>
            <div id="show-keyspace-tables-div" class="form-group hidden">
              <button id="show-keyspace-tables" type="submit" class="btn btn-default" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Executing Query">Show tables of selected keyspace</button>
            </div>
            <div id="show-select-table-div" class="form-group hidden">
              <label for="show-select-table">Select table</label>
              <select class="form-control" id="show-select-table">
              </select>
            </div>
            <div id="show-table-columns-div" class="form-group hidden">
              <button id="show-table-columns" type="submit" class="btn btn-default" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Executing Query">Show columns of selected table</button>
            </div>
            <ul id="show-columns-list" class="hidden">
            </ul>
          </form>
          <div id="show-errors" class="hidden">
            <div class="panel-heading"></div>
            <div class="panel-body fixed-panel-body"></div>
          </div>

          <h2>Low overhead CQL query</h2>
          <form>
            <div class="form-group">
              <label for="cql-query">CQL query</label>
              <textarea class="form-control" rows="3" id="cql-query" placeholder="CQL query"></textarea>
            </div>
            <button id="execute-cql-query" type="submit" class="btn btn-default" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Executing Query">Execute</button>
          </form>
          <br />
          <div id="cql-query-results" class="hidden">
            <div class="panel-heading"></div>
            <div class="panel-body fixed-panel-body"></div>
          </div>

          <h2>High overhead Spark SQL query</h2>
          <form>
            <div class="form-group">
              <label for="spark-sql-keyspaces-tables">Cassandra tables used in Spark SQL query</label>
              <span class="help-block">Comma separated values, example: <strong>keyspace1.table1, keyspace2.table2, ...</strong></span>
              <input type="text" class="form-control" id="spark-sql-keyspaces-tables" placeholder="Cassandra tables used in the query">
            </div>
            <div class="form-group">
              <label for="spark-sql-query">Spark SQL query</label>
              <span class="help-block">Cassandra tables are mapped to Spark views named joining keyspace name and table name.<br/>
              Example: the table "table1" in the keyspace "keyspace1" in a Spark SQL query can be accessed with "keyspace1table1".</span>
              <textarea class="form-control" rows="3" id="spark-sql-query" placeholder="Spark SQL query"></textarea>
            </div>
            <button id="execute-spark-sql-query" type="submit" class="btn btn-default" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Executing Query">Execute</button>
          </form>
          <br />
          <div id="spark-sql-query-results" class="hidden">
            <div class="panel-heading"></div>
            <div class="panel-body fixed-panel-body"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      var getFormFieldValue = function(field, removeBlanks) {
        var fieldValue = $(field).val();
        return removeBlanks ? fieldValue.replace(/\s+/g, "") : fieldValue;
      };

      var ajaxSuccessPanel = function(panelId, data) {
        $(panelId).removeClass().addClass('panel panel-success');
        $(panelId+' .panel-heading').html("Results");
        $(panelId+' .panel-body').html(data);
      };

      var ajaxDefaultPanel = function(panelId, data) {
        $(panelId).removeClass().addClass('panel panel-default');
        $(panelId+' .panel-heading').html("Output");
        $(panelId+' .panel-body').html(data);
      };

      var ajaxErrorPanel = function(panelId, errorThrown, data) {
        $(panelId).removeClass().addClass('panel panel-danger');
        $(panelId+' .panel-heading').html("Error - "+errorThrown);
        $(panelId+' .panel-body').html(data);
      };

      $('#show-keyspaces').on('click', function(e) {
        e.preventDefault();
        var $executeBtn = $(this);
        $executeBtn.button('loading');

        var cqlQuery = "SELECT keyspace_name FROM system.schema_keyspaces";
        var cassandraNodeIp = '<%= @cassandra_node_ip %>';

        $('#show-select-keyspace-div').addClass('hidden');
        $('#show-keyspace-tables-div').addClass('hidden');
        $('#show-select-table-div').addClass('hidden');
        $('#show-table-columns-div').addClass('hidden');
        $('#show-columns-list').addClass('hidden');
        $('#show-errors').addClass('hidden');

        $.ajax({
          url : "simple_cql_query.json",
          type: "POST",
          data : { cql_query: cqlQuery, cassandra_node_ip: cassandraNodeIp },
          success: function(data, textStatus, jqXHR) {
            var keyspacesOpts = JSON.parse(data).map(function(it) { return "<option>"+it.keyspace_name+"</option>"; }).join("\n");
            $('#show-select-keyspace').html(keyspacesOpts);
            $('#show-select-keyspace-div').removeClass('hidden');
            $('#show-keyspace-tables-div').removeClass('hidden');
            $executeBtn.button('reset');
          },
          error: function(jqXHR, textStatus, errorThrown) {
            ajaxErrorPanel('#show-errors', errorThrown, jqXHR.responseText);
            $executeBtn.button('reset');
          }
        });
      });

      $('#show-keyspace-tables').on('click', function(e) {
        e.preventDefault();
        var $executeBtn = $(this);
        $executeBtn.button('loading');

        var cassandraNodeIp = '<%= @cassandra_node_ip %>';
        var selectedKeyspace = getFormFieldValue('#show-select-keyspace', true);
        var cqlQuery = "SELECT columnfamily_name FROM system.schema_columnfamilies WHERE keyspace_name = '"+selectedKeyspace+"';";

        if (!selectedKeyspace) {
          $executeBtn.button('reset');
          alert("Selected keyspace field required for this operation");
          return;
        }

        $('#show-select-table-div').addClass('hidden');
        $('#show-table-columns-div').addClass('hidden');
        $('#show-columns-list').addClass('hidden');
        $('#show-errors').addClass('hidden');

        $.ajax({
          url : "simple_cql_query.json",
          type: "POST",
          data : { cql_query: cqlQuery, cassandra_node_ip: cassandraNodeIp },
          success: function(data, textStatus, jqXHR) {
            var tablesOpts = JSON.parse(data).map(function(it) { return "<option>"+it.columnfamily_name+"</option>"; }).join("\n");
            $('#show-select-table').html(tablesOpts);
            $('#show-select-table-div').removeClass('hidden');
            $('#show-table-columns-div').removeClass('hidden');
            $executeBtn.button('reset');
          },
          error: function(jqXHR, textStatus, errorThrown) {
            ajaxErrorPanel('#show-errors', errorThrown, jqXHR.responseText);
            $executeBtn.button('reset');
          }
        });
      });

      $('#show-table-columns').on('click', function(e) {
        e.preventDefault();
        var $executeBtn = $(this);
        $executeBtn.button('loading');

        var cassandraNodeIp = '<%= @cassandra_node_ip %>';
        var selectedKeyspace = getFormFieldValue('#show-select-keyspace', true);
        var selectedTable = getFormFieldValue('#show-select-table', true);
        var cqlQuery = "SELECT column_name FROM system.schema_columns WHERE keyspace_name = '"+selectedKeyspace+"' AND columnfamily_name = '"+selectedTable+"';";

        if (!selectedKeyspace || !selectedTable) {
          $executeBtn.button('reset');
          alert("Selected keyspace and selected table fields required for this operation");
          return;
        }

        $('#show-columns-list').addClass('hidden');
        $('#show-errors').addClass('hidden');

        $.ajax({
          url : "simple_cql_query.json",
          type: "POST",
          data : { cql_query: cqlQuery, cassandra_node_ip: cassandraNodeIp },
          success: function(data, textStatus, jqXHR) {
            var columnsLis = JSON.parse(data).map(function(it) { return "<li>"+it.column_name+"</li>"; }).join("\n");
            $('#show-columns-list').html(columnsLis);
            $('#show-columns-list').removeClass('hidden');
            $executeBtn.button('reset');
          },
          error: function(jqXHR, textStatus, errorThrown) {
            ajaxErrorPanel('#show-errors', errorThrown, jqXHR.responseText);
            $executeBtn.button('reset');
          }
        });
      });

      $('#execute-cql-query').on('click', function(e) {
        e.preventDefault();
        var $executeBtn = $(this);
        $executeBtn.button('loading');

        var cqlQuery = getFormFieldValue('#cql-query');
        var cassandraNodeIp = '<%= @cassandra_node_ip %>';

        if (!cqlQuery) {
          $executeBtn.button('reset');
          alert("CQL query field required for this operation");
          return;
        }

        $.ajax({
          url : "simple_cql_query.json",
          type: "POST",
          data : { cql_query: cqlQuery, cassandra_node_ip: cassandraNodeIp },
          success: function(data, textStatus, jqXHR) {
            ajaxSuccessPanel('#cql-query-results', data);
            $executeBtn.button('reset');
          },
          error: function(jqXHR, textStatus, errorThrown) {
            ajaxErrorPanel('#cql-query-results', errorThrown, jqXHR.responseText);
            $executeBtn.button('reset');
          }
        });
      });

      $('#execute-spark-sql-query').on('click', function(e) {
        e.preventDefault();
        var $executeBtn = $(this);
        $executeBtn.button('loading');

        var sparkSqlKeyspacesTables = getFormFieldValue('#spark-sql-keyspaces-tables', true);
        var sparkSqlQuery = getFormFieldValue('#spark-sql-query');
        var cassandraNodeIp = '<%= @cassandra_node_ip %>';
        var sparkMasterIp = '<%= @spark_master_ip %>';

        if (!sparkSqlQuery || !sparkSqlKeyspacesTables) {
          $executeBtn.button('reset');
          alert("Spark SQL tables used, Spark SQL query fields required for this operation");
          return;
        }

        $.ajax({
          url : "spark_sql_query.json",
          type: "POST",
          data : { spark_master_ip: sparkMasterIp, keyspaces_tables: sparkSqlKeyspacesTables, spark_sql_query: sparkSqlQuery, cassandra_node_ip: cassandraNodeIp },
          success: function(data) {
            // Transform output to be rendered as HTML
            var htmlOutput = JSON.parse(data).output.replace(/(?:\r\n|\r|\n)/g, '<br />');
            ajaxDefaultPanel('#spark-sql-query-results', htmlOutput);
            $executeBtn.button('reset');
          },
          error: function(jqXHR, textStatus, errorThrown) {
            ajaxErrorPanel('#spark-sql-query-results', errorThrown, jqXHR.responseText);
            $executeBtn.button('reset');
          }
        });
      });
    </script>
  </body>
</html>